* {
    margin: 0;
    padding: 0;
    font-family: Lato;
}

/* shared  */
.primary-title {
    color: #272727;
    text-align: center;
    font-size: 35px;
    padding-top: 100px;
}

.primary-paragraph {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    margin-top:20px;
}

/* banner section */
.banner-container {
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* banner info */
.banner-title {
    color: #272727;
    font-size: 55px;

}

.banner-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin: 20px 0;
}

.btn-primary {
    color: #FFF;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #E55473;
}

/* banner logo */
.banner-img {
    margin-top: 5vh;
    width: 35vw;
    height: 95vh;

}